* {
    height: auto;
}

.btn-success {
  color: #fff;
  background-color: rgba(0, 150, 80, 0.9);
  border-color: rgba(7, 146, 81, 0.9);
}

.btn-success:hover {
  color: #fff;
  background-color: rgba(0, 102, 54, 0.9);
  border-color: rgba(1, 85, 46, 0.9);
}

  .gap {
    margin-right:5px;
}
