 * {
     height: auto;
 }

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    
    
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #404040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  .topnav a:hover {
    background-color: #e6e6e6;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(47, 45, 78);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.logout.responsive { float: left ;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left ;
    }
    .topnav.responsive #userEmail{
      display: none;
    }
  }


  .topnav .login {
      float: right ;
  }

  .topnav .signup {
      float: right ;
  }

  .topnav .logout {
      float: right ;
  }

.topnav #userEmail {
    float: left;
    display: block;
    color: #404040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

