<div class="container">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Contact List</h1>
    <!-- It won't show if there is no contact data -->
    <a
      routerLink="/register-contact"
      class="btn btn-success"
      *ngIf="hideWhenNoContact"
    >
      <i class="fas fa-plus custom-fa-plus"></i>
      Add Contact
    </a>
  </div>

  <div class="pricing-header mx-auto">
    <!-- Preloader shows before the data loads-->
    <div class="no-data text-center" *ngIf="preLoader">
      <img src="assets/preloader.gif" class="preloader-icon" alt="No contact" />
    </div>

    <!-- No data shows when their is no contact data available -->
    <div class="no-data text-center" *ngIf="noData">
      <p class="nodata-msg">No contact added yet!</p>
      <a routerLink="/register-contact" class="btn btn-success">
        <i class="fas fa-plus custom-fa-plus"></i>
        Add Contact
      </a>
    </div>

    <!-- Showing contacts data -->
    <div class="table-responsive" *ngIf="hideWhenNoContact">
      <table
        class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
      >
        <thead>
          <tr>
            <th scope="col">Contact name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Avatar</th>
            <th class="text-center" scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <!-- *ngFor loop iterates over Contact array and fetch the contact's data -->
          <ng-container *ngFor="let contact of Contact; let i = index">
            <!-- Show only current logged in users contacts -->
            <tr *ngIf="contact.userId === auth.currentUserId">
              <td>{{ contact.name }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.address }}</td>
              <td>
                <img
                  src="{{ contact.avatar }}"
                  class="nodata-msg image"
                  alt="avatar"
                />
              </td>
              <td class="text-center action-block">
                <!-- routerLink="/edit-contact/{{contact.$key}}" is refered to 
                  { path: 'edit-contact/:id', component: EditContactComponent } 
                  in app-routing.moudles.ts -->
                <i
                  class="far fa-edit fa-lg gap"
                  routerLink="/edit-contact/{{ contact.$key }}"
                ></i>
                <i
                  class="far fa-trash-alt fa-lg gap"
                  (click)="deleteContact(contact)"
                ></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
