.chatHeaderWrapper {
    height: auto;
    color: rgb(36, 36, 36);
    box-shadow: 0 2px 3px rgba(196, 196, 196, 0.2), 1px 2px 3px rgba(99, 99, 99, 0.1);
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}

.chatRoom {
    height: 100%;
    display: flex;
    flex-direction: column;
}

router-outlet {
    height:0;
}

.mymain {
    margin-top: 50px;
  }
  
